* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font: 13px;
}

header {
    height: 100px;
    background-color: #000000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
}

.menu {
    flex: 1; /*<== é o mesmo que "width: 100%;", ou seja, ocupa todo o espaço restante*/
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000;
    text-align: center; /* this property is not on the original project */
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
}